<html>
    <head>
        <title> 9 laba </title>
        <script type="text/javascript" src="/static/main.js"></script>
        <link href="/static/main.css" rel="stylesheet">
    </head>

    <body>
        <div id="header"> 
            </div> 
        <h1> Add new game </h1>
        <form>
            <div>
                <input type="text" name="name" id="name">
                <label for="name">Name</label>
            </div>
            <input type="text" name="year" id="year">
            <label for="year">Year</label>
            <div>
                <button onClick="createGame()">
                    Add
                </button>
            </div>
        </form>
        <ul>
            {% for game in games_list %}
            <li>
                <div>
                    {{ game['name'] }}
                    <div>
                    {{ game['year'] }}
                    </div>
                    <input value="{{game['id']}}" onChange="updateGame(this)" name='ready' type="checkbox" {% if game.ready %} checked {% endif %}>
                    <label for="ready">Done</label>
                </div>
            </li>
        {% endfor %}
        </ul>
    </body>
</html>